includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#^Class Laravel\\Scout\\Searchable not found\.$#'
        - '#^Call to an undefined method Illuminate\\Foundaition\\Auth\\User::datatableUserSettings\(\)\.$#'
        - '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model::getLabel\(\)\.$#'
        - '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model::getDescription\(\)\.$#'

